<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvw2K7yeVx6XBj6noy4j5EIBWf-irEhMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>523803921483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daple0803.mapbox</string>
	<key>PROJECT_ID</key>
	<string>orderproject-32b9d</string>
	<key>STORAGE_BUCKET</key>
	<string>orderproject-32b9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523803921483:ios:39f5da8fcc59111f1211ce</string>
	<key>DATABASE_URL</key>
	<string>https://orderproject-32b9d-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>